#container {
    display: flex;
}

#pc_container:hover {
    transform: translateY(-4px);
}

#pc_container {
    border: none;
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.185);
}

#timg img {
    width: 200px;
    border: none;
}

#pdesc {
    text-align: center;
}

#pdesc p {
    font-display: block;
}

a {
    margin-bottom: 20px;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}